.table_sorting {
    background-color: lightgray;
    padding: 1rem;

    h1 {
        color: #fff;
        text-transform: uppercase;
    }

    table {
        border: 1px solid;
        width: 100%;

        thead {
            background-color: blue;

            th {
                color: #fff;
                padding: 0.3rem;
                text-align-last: left;
            }
        }
    }
}